---
import astroConfig from "../../../astro.config.mjs";
import images from "../../../public/assets/data/images.json";
import servicos from "../../../public/assets/data/servicos.json";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return servicos.map((servico: any) => ({
    params: { servico: servico.rota },
  }));
}

const { servico } = Astro.params;
const data = servicos.find((s: any) => s.rota === servico);
const imageList = images.filter((i: any) => i.dir === servico);
---

<Layout
  title={`Etna Vidros - ${servico.charAt(0).toUpperCase() + servico.slice(1)}`}
>
  <main class="bg-light">
    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">{data?.produto}</h2>
      <div class="row d-flex justify-content-center align-items-stretch g-4">
        <div class="d-flex col-md-6 col-sm-12 mt-5" id="my-gallery">
          <ul class="wrapper list-unstyled">
            {
              imageList.map((image: any) => (
                <li>
                  <a
                    href={`${astroConfig.site}/assets/${image.src}`}
                    class="image"
                    style={`
                      background-image: url(
                      ${astroConfig.site}/assets/${image.src}); background-size: cover; width: 100%; height: 100%; min-height: 300px; object-fit: cover;`}
                    data-lightbox={image.name}
                    data-title={image.name}
                    target="_blank"
                  />
                </li>
              ))
            }
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 bg-light">
          <p class="pt-0 w-75" set:html={data?.htmlContent} />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  a.image {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    flex-grow: 1;
    gap: 10px;
    grid-auto-flow: dense;
  }

  .wrapper::-webkit-scrollbar {
    width: 16px;
  }

  .wrapper::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .wrapper::-webkit-scrollbar-thumb {
    background-color: #131745;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  .wrapper li.landscape {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    grid-column-end: span 2;
  }
</style>
